body{
    background-color: greenyellow;} 

    td, th{
        border:2px solid red
    }

    #calculatorValue{
        width: 100%;
    }

    table{
        border-collapse: separate, collapse ;
        border-spacing:5px;
        padding: 1px;
        width: 100%;
        text-align:center;
    }
    
    table {
        width: 200px;
        height: 300px;
        text-align: center;
        border:5px solid green;
     }
     
     th, td {
        border: 1px solid red;
     }
     
     td:hover {
        background-color: lightcoral;
        color: white;
     }
    
     .result {
        text-align: center;
        background: fixed;
        font-size: 20px;
        font-weight: 10
    

     }
